# -----------------------------
# Node.js / NPM Dependencies
# -----------------------------
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------
# Cypress Files
# -----------------------------
/cypress/videos/
/cypress/screenshots/
/cypress/results/

# -----------------------------
# Local IDE and OS Files
# -----------------------------
.DS_Store
.vscode/

# -----------------------------
# AWS / Infrastructure Artifacts
# -----------------------------
/infra/static-site/*.json.out