name: Deploy Infrastructure Stack (CloudFormation)

on:
  push:
    branches: [ main ]
    paths:
      - "infrastructure/static-site/templates/**"
      - ".github/workflows/static-site-stack.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::198226511774:role/GitHubActionsDeployRole
          aws-region: eu-north-1

      - name: Validate Template Syntax
        run: |
          aws cloudformation validate-template \
            --template-body file://infrastructure/static-site/templates/static-site.yml

      - name: Deploy CloudFormation Stack
        run: |
          aws cloudformation deploy \
            --stack-name static-site-stack \
            --template-file infrastructure/static-site/templates/static-site.yml \
            --capabilities CAPABILITY_IAM \
            --parameter-overrides "CertificateArn=arn:aws:acm:us-east-1:198226511774:certificate/54982cfd-b1c8-47b3-8ffe-48c720584e0a" \
            --no-fail-on-empty-changeset

      - name: Debug CloudFormation Failure
        if: failure()
        run: |
          aws cloudformation describe-stack-events \
            --stack-name static-site-stack \
            --query "StackEvents[?ResourceStatus=='CREATE_FAILED' || ResourceStatus=='REVIEW_IN_PROGRESS' || ResourceStatus=='ROLLBACK_IN_PROGRESS'].[LogicalResourceId, ResourceStatus, ResourceStatusReason]" \
            --output table