name: Deploy Static Site

on:
  push:
    branches: [ main ]
    paths:
      - "infrastructure/static-site/templates/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::198226511774:role/GitHubActionsDeployRole
          aws-region: eu-north-1

      - name: Deploy CloudFormation Stack
        id: deploy_stack
        run: |
          aws cloudformation deploy \
            --stack-name static-site-stack \
            --template-file infrastructure/static-site/templates/static-site.yml \
            --capabilities CAPABILITY_IAM

      - name: Get CloudFormation Deployment Error Details
        if: ${{ failure() || steps.deploy_stack.outcome == 'success' }}
        run: |
          aws cloudformation describe-change-set \
            --stack-name static-site-stack \
            --change-set-name $(aws cloudformation list-change-sets --stack-name static-site-stack --query "Summaries[?Status == 'FAILED'].ChangeSetId" --output text) \
            --query "StatusReason" \
            --output text