name: Create Empty S3 Bucket

on:
  push:
    branches: [ main ]
    paths:
      - "infrastructure/static-site/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS credentials from OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::198226511774:policy/GitHubActions-CloudFrontS3-IaC-Policy
          aws-region: eu-north-1

      - name: Deploy CloudFormation stack
        run: |
          aws cloudformation deploy \
            --stack-name static-site-stack \
            --template-file infrastructure/static-site/templates/static-site.yml
