@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: hsl(162, 100%, 40%);
  --secondary-color: hsl(162, 56%, 35%);
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --gradient-1: linear-gradient(to bottom right, hsl(228, 15%, 20%), hsl(235, 8%, 28%));
  --gradient-2: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.section__description {
  max-width: 550px;
  margin-inline: auto;
  color: var(--extra-light);
  text-align: center;
  line-height: 1.75rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-image: var(--gradient-2);
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(28, 27, 27, 0.2);
}
.btn:hover {
  box-shadow: 5px 5px 10px hsla(162, 100%, 40%, .2);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.logo {
  display: inline-block;
  padding: 10px 14px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  background-image: var(--gradient-2);
  box-shadow: 5px 5px 10px rgba(28, 27, 27, 0.2);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  background-image: var(--gradient-1);
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav__bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-image: var(--gradient-1);
}

.nav__logo {
  padding: 9px 12px;
  font-size: 1.2rem;
}

.nav__bar a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-image: var(--gradient-1);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(0);
  background-color: hsl(228, 15%, 15%);
}

.nav__links a {
  color: var(--white);
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--primary-color);
}

.btn__large {
  display: none;
}

.header__container {
  padding-top: 8rem;
  display: grid;
  gap: 2rem;
  isolation: isolate;
}

.header__content {
  text-align: center;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  text-align: center;
}

.header__content .section__description {
  margin-bottom: 2rem;
}

.header__image {
  position: relative;
  isolation: isolate;
  z-index: -1;
}

.header__image img {
  max-width: 450px;
  margin-inline: auto;
  border-radius: 25rem;
}

.header__image::after {
  position: absolute;
  content: "YAVOR";
  letter-spacing: 1.5rem;
  opacity: 0.5;
  right: 1rem;
  top: 50%;
  transform: translate(50%, -50%) rotate(90deg);
}

.about__container {
  display: grid;
  gap: 2rem;
}

.about__image {
  position: relative;
  isolation: isolate;
  max-width: 400px;
  margin: auto;
}

.about__img {
  border-radius: 100%;
}

.about__bg-1,
.about__bg-2 {
  position: absolute;
  max-width: 150px;
  z-index: -1;
}

.about__bg-1 {
  top: 0;
  left: 0;
}

.about__bg-2 {
  right: 0;
  bottom: 0;
}

.about__content {
  text-align: center;
}

.about__content .section__description {
  margin-bottom: 2rem;
}

.skills{
  background-color: var(--gradient-1);
}

.skills__container{
  padding-bottom: 2rem;
  row-gap: 3.5rem;
}

.skills__data{
  text-align: center;
}

.skills__description{
  margin-bottom: 2rem;
}

.skills__content, 
.skills__group{
  display: grid;
}

.skills__content{
  margin-top: 3rem;
  grid-template-columns: repeat(2, max-content);
  column-gap: 4rem;
  justify-content: center;
  align-items: baseline;
}

.skills__group{
  row-gap: 1rem;
  list-style: decimal-leading-zero;
}

.skills__item{
  font-size: larger;
  font-weight: 700;
  color: var(--white);
}

.skills__item::marker{
  color: var(--secondary-color)
}

.portfolio__grid {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.portfolio__card {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(28, 27, 27, 0.2);
}

.portfolio__card img {
  transition: 0.5s;
}

.portfolio__modal{
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0%, var(--secondary-color) 120%);
  backdrop-filter: blur(4px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: bottom .4s;
}

.portfolio__subtitle,
.portfolio__button{
  color: var(--white);
  font-size: 1.25rem;
}

.portfolio__subtitle{
  display: block;
  margin-bottom: .25rem;
}

.portfolio__title{
  font-size: 2rem;
  margin-bottom: .75rem;
}

.portfolio-button{
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.portfolio__card:hover .portfolio__modal{
  bottom: 0;
}

.portfolio__banner {
  margin-top: 2rem;
  padding: 1.5rem;
  display: grid;
  gap: 2rem;
  text-align: center;
  background-image: var(--gradient-2);
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(28, 27, 27, 0.2);
}

.portfolio__banner__card span {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.portfolio__banner__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.portfolio__banner__card p {
  font-weight: 500;
}

.contact__container {
  text-align: center;
}

.contact__container .logo {
  margin-bottom: 1rem;
}

.contact__socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.contact__socials a {
  padding: 7px 10px;
  font-size: 1.5rem;
  color: var(--white);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.contact__socials a:hover {
  background: var(--gradient-2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.footer {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--extra-light);
  text-align: center;
}

@media (width > 576px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__banner {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
}

@media (width > 768px) {
  nav {
    padding: 2rem 1rem;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__bar {
    padding: 0;
    background-image: none;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-image: none;
  }

  .nav__links a:hover {
    color: var(--secondary-color);
  }

  .nav__links li:last-child {
    display: none;
  }

  .btn__large {
    display: flex;
  }

  .header__container {
    padding-top: 5rem;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/3/2/5;
  }

  .header__image img {
    margin-inline-start: unset;
  }

  .header__content {
    grid-area: 1/1/2/4;
    text-align: left;
  }

  .header__content h1 {
    font-size: 6rem;
    line-height: 6rem;
    text-align: left;
  }

  .header__content .section__description {
    text-align: left;
    margin-inline-start: unset;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__content,
  .about__content :is(.section__header, .section__description) {
    text-align: left;
  }

  .service__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio__container :is(.section__header, .section__description) {
    text-align: left;
    margin-inline-start: unset;
  }

  .portfolio__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio__banner {
    grid-template-columns: repeat(3, 1fr);
  }
}
